
body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: linear-gradient(135deg, #74ABE2, #5563DE);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


form {
    background-color: #ffffff;
    padding: 25px 30px;
    border-radius: 12px;
    
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 22px;
    font-size: 1px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

/* Nhãn và input */
td {
    padding: 8px;
}

td:first-child {
    text-align: right;
    color: #333;
    font-weight: 500;
}

/* Ô nhập liệu */
input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    transition: all 0.3s ease;
}

/* Khi focus vào input */
input:focus,
select:focus {
    border-color: #5563DE;
    box-shadow: 0 0 4px rgba(85, 99, 222, 0.5);
    outline: none;
}

/* Nút Calculate */
input[type="button"] {
    background-color: #5563DE;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

input[type="button"]:hover {
    background-color: #4053C2;
}

/* Ô kết quả (readonly) */
input[readonly] {
    background-color: #f0f0f0;
}

/* Hiệu ứng lỗi nhỏ */
input.error {
    border-color: #e74c3c;
    box-shadow: 0 0 5px rgba(231, 76, 60, 0.5);
}
