body {
    font-family: Georgia;
    margin: 40px auto;
    width: 500px;
}

.title {
    background: #0d78a0;
    color: #fff;
    text-align: center;
    padding: 8px;
    margin-bottom: 20px;
}

label {
    display: inline-block;
    width: 150px;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
textarea,
select {
    width: 250px;
    padding: 5px;
}

.btn-group {
    text-align: center;
    margin-top: 20px;
}

.btn-group input {
    width: 120px;
    padding: 6px 10px;
}
