p {
    border: 2px solid red;
    padding: 20px; /*space*/
    margin: 30px 10px 20px 40px; /*top right left bottom*/
    background-color: lightblue;
    
}
.group {
    border: 2px solid green;
    padding: 20px; /*space*/
    margin: 30px 10px 20px 40px; /*top right left bottom*/
    background-color: lightgray;
}