h1#time {
    font-style: oblique;
    text-align: center;
}

p.ec {
    text-align: center;
    font-style: normal;
}

div.background {
    background-color: #f7f381;
    margin:auto;
    padding: 8px 24px;
    width: 500px;
    font-size: 30px;
    border: 1px solid #f7f381;
    background: #f7f381;
    box-shadow: 0 0 10px 2px #333333
}
